<section class="albums-view" ng-controller="AlbumsController as albums">
    <header class="albums-header">
        <h1>Top albums from my last.fm history</h1>
        <form class="sorting-form">
            <label class="order-label">Sorting:</label>
            <div class="sorting-container">
                <span
                    class="sorting-option"
                    ng-class="{active: albums.sortAttribute == 'name'}"
                    ng-click="albums.sortAttribute = 'name'"
                    >album
                </span>
                <span
                    class="sorting-option"
                    ng-class="{active: albums.sortAttribute == 'artist.name'}"
                    ng-click="albums.sortAttribute = 'artist.name'"
                    >artist</span>
                <span
                    class="sorting-option"
                    ng-class="{active: albums.sortAttribute == 'released'}"
                    ng-click="albums.sortAttribute = 'released'"
                    >release</span>
                <button 
                    class="order-button"
                    name="order-button"
                    ng-click="albums.toggleSortingOrder()">
                    <svg 
                        class="order-button-background"
                        ng-class="{reversed: albums.sortDescending}"
                        viewBox="0 0 512 512"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M 96.00,96.00l-96.00,96.00l 256.00,256.00l 256.00-256.00l-96.00-96.00L 256.00,256.00L 96.00,96.00z" ></path>
                    </svg>
                </button>
            </div>

        </form>
        <h3>Albums list:</h3>
    </header>

    <section class="albums-list">
        <div class="albums-list-container" loader="albums.dataLoading">
            <div 
                class="album-container"
                ng-repeat="album in albums.albums | orderBy : albums.sortAttribute : albums.sortDescending">
                <a href="{{ ::album.url }}" target="_blank">
                    <img
                        class="album-cover"
                        ng-src="{{ ::album.image[2].text }}"
                        alt="{{ ::album.name }}">
                </a>
                <div class="album-details">
                    <h4 class="album-title">
                        {{ ::album.name }}
                    </h4>
                    <h5 class="album-artist">
                        <span class="pale-label">By:</span> {{ ::album.artist.name }}
                    </h5>
                    <h6 class="album-release-date">
                        <span class="pale-label">Released:</span> {{ ::album.released | date:'dd.MM.yyyy' }}
                    </h6>
                </div>
            </div>
        </div>
    </section>
</section>
