<div class="intro">
    <div class="intro-lorem">
        Tootsie roll chocolate cake liquorice muffin cheesecake I love. Tart tart halvah biscuit bear claw wafer. Cake gummi bears I love. Chocolate bar apple pie toffee. Tart I love apple pie dragée. Soufflé jelly biscuit cotton candy croissant. Toffee tootsie roll jujubes pastry candy cupcake gummi bears. Chocolate cake carrot cake pastry wafer. Sweet roll biscuit icing brownie biscuit marshmallow.
    </div>
    <a class="intro-link" href="#/albums">
        -- Proceed to albums list --
    </div>
</div>
