
//mobile landscape view, tablet view, desktop view
@media (min-width: 420px) {
    .album-container {
        display: flex;
        width: 600px;
        margin: 0 auto 20px;
        text-align: left;
    }
    .album-details {
        flex: 1;
        display: inline-block;
        vertical-align: bottom;
        padding-left: 20px;
    }
    .album-title {
        margin: 10px 0;
        padding: 0;
    }
}
