$sortingContainerMaxWidth: 400px;
$activeSortingItemBackground: linear-gradient($lightestGray, $white);
$sortingStaticElementWidth: 30px;

.albums-header {
    margin: 0 20px;
}
.order-label {
    display: block;
    margin-bottom: 10px;
}
.sorting-container {
    position: relative;
    max-width: $sortingContainerMaxWidth;
    margin: 0 auto 20px;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $gray;
        bottom: 0;
        left: 0;
    }
}
.filter-icon-label {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sortingStaticElementWidth;
    height: 100%;
    z-index: 4;
    cursor: pointer;
}
.filter-icon {
    position: absolute;
    width: 14px;
    top: 22%;
    left: 50%;
    margin-left: -7px;
    opacity: 0.3;
    transition: opacity .3s;
    &.active {
        opacity: 1;
    }
}
.clear-filter-button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1px;
    width: $sortingStaticElementWidth;
    -webkit-appearance: none;
    outline: none;
    z-index: 5;
    border: 0;
    background-color: $white;
    cursor: pointer;
    transition: opacity .1s;
    &.ng-hide-add {
        opacity: .5;
    }
    &.ng-hide-add-active {
        opacity: 0;
    }
    &.ng-hide-remove {
        opacity: 0;
    }
    &.ng-hide-remove-active {
        opacity: .5;
    }
}
.clear-filter-button-background {
    width: 10px;
    height: 10px;
    margin-top: 2px;
    fill: $black;
}
.filter-input {
    position: absolute;
    padding-left: $sortingStaticElementWidth + 4px;
    top: 0;
    left: 0;
    height: 100%;
    border-width: 0;
    border-bottom: 1px solid $gray;
    outline: none;
    // TODO handle this with autoprefixer!
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    appearance: none;
    transition: width .3s, opacity .2s linear;
    opacity: 0;
    width: 0;
    box-sizing: border-box;
    z-index: 2;
    &:focus {
        width: 100%;
        opacity: 1;
    }
}
.sorting-option {
    background-color: $white;
    border: 1px solid $white;
    border-bottom: 0;
    padding: 0 0.6em;
    line-height: 2em;
    display: inline-block;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    &.active {
        border: 1px solid $gray;
        border-bottom: 1px solid $white;
        background: $activeSortingItemBackground;
        text-shadow: 0 0 1px $lightestGray;
    }
}
.order-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid $gray;
    border-bottom: 1px solid $white;
    background-color: $white;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    background: $activeSortingItemBackground;
    padding: 0;
    width: $sortingStaticElementWidth;
}
.order-button-background {
    width: 20px;
    height: 12px;
    margin-top: 4px;
    fill: $black;
    transition: transform .1s;
    transform: rotate(180deg);
    &.reversed {
        transform: none;
    }
}
.no-results-container {
    margin-top: 50px;
    font-size: 0.8rem;
}
.no-results-keyword {
    font-weight: bold;
    padding: 10px;
    font-size: 1rem;
}
.album-container {
    padding: 20px;
    margin: 0 20px;
    padding: 20px 0;
    + .album-container{
        border-top: 1px solid $lightGray;
    }
}
.album-title, .album-artist, .album-release-date {
    margin: 5px 0;
    padding: 0;
}
.album-cover {
    border: 1px solid $lightestGray;
}
